@import 'blacklight_gallery/default';

#documents.row.gallery {
  display: block;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  .document {
    display: flex;
    flex: none;
    align-items: stretch;

    .thumbnail {
      width: 100%
    }

  }
}